body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
    text-decoration: none;
}

.nav-menu a i {
    font-size: 20px;
}

.nav-menu a span {
    padding: 0 5px 0 7px;
    color: #A7A29F;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #fff;
    background: #45BFBF;
}

.nav-menu a:hover, .nav-menu li:hover > a > span {
    width: 100%;
    color: #fff;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("https://media.licdn.com/dms/image/C4E03AQE3oZIhjj819A/profile-displayphoto-shrink_400_400/0/1547665082831?e=1684972800&v=beta&t=jAitRk2sWqk2BPQtxIau5L5KXiuB2DTIck9qKgE9zEA") top right no-repeat;
    background-size:contain;
    position: relative;
  }

  #hero h1 {
    margin: 0;
    font-size: 65px;
    font-weight: 700;
    line-height: 56px;
    color: #239F9F;
  }

  #hero p {
    color: #239F9F;
  }

  #hero .social-links {
    margin-top: 30px;
  }

  .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #239F9F;
    line-height: 1;
    margin-right: 20px;
  }