body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}

@media (max-width: 991px) {
    #header {
      width: 300px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      left: -300px;
    }
  }
  
  @media (min-width: 991px) {
    #main {
      margin-left: 100px;
    }
  }

/*----- Nav Bar -----*/

.nav-menu {
    padding: 0;
    display: block;
  }

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #45BFBF;
    padding: 10px 18px;
    margin-bottom: 8px;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus {
    font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #A7A29F;
}

@media (min-width: 992px) {

    .nav-menu a,
    .nav-menu a:focus {
      width: 56px;
    }
  
    .nav-menu a span,
    .nav-menu a:focus span {
      display: none;
      color: #fff;
    }
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
    color: #fff;
    background: #45BFBF;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/*----- Hero -----*/

#hero {
    width: 100%;
    height: 100vh;
    background: url("https://media.licdn.com/dms/image/C4E03AQE3oZIhjj819A/profile-displayphoto-shrink_400_400/0/1547665082831?e=1684972800&v=beta&t=jAitRk2sWqk2BPQtxIau5L5KXiuB2DTIck9qKgE9zEA") top right no-repeat;
    background-size:contain;
    position: relative;
  }

  #hero h1 {
    margin: 0;
    font-size: 65px;
    font-weight: 700;
    line-height: 56px;
    color: #239F9F;
  }

  #hero p {
    color: #239F9F;
  }

  #hero .social-links {
    margin-top: 30px;
  }

  .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #239F9F;
    line-height: 1;
    margin-right: 20px;
  }

/*----- Footer -----*/

  #footer {
    background: #f7f8f9;
    color: #239F9F;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }

  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
  }

  #footer .copyright {
    margin: 0 0 5px 0;
  }
  
  #footer .credits {
    font-size: 13px;
  }
